body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('./assets/dancefloor.jpg');
  background-size: cover;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

a {
  text-decoration: none;
  border: 2px solid white;
  box-sizing: border-box;
}

span {
  display: inline-block;
}

.dancer{
  /*border:20px solid red;
  border-radius:5px;*/
  position:absolute;
}

.spotlight {
  /*border: 10px solid white;*/
  transform: scale(2);
  background-image: url(./assets/spotlight.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

img.sprite {
  border: none;
  max-height: 100px;
}

.spin-dancer{
  /*animation: 1s infinite spin;*/
  position:absolute;
  box-sizing: border-box;
}

.blinky-dancer{
  position: absolute;
  border:20px solid red;
  border-radius:5px;
}

.expand-dancer {
  position: absolute;
}

.expand-dancer img {
  animation: 1s infinite expand alternate;
  transform-origin: center;
}

@keyframes expand {
  from {
    transform:scale(1.0);
  }
  to {
    transform:scale(2.0);
    /*transform: rotateY(180deg);*/
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
    padding:10px;
  }
  25% {
    margin: 0 10% 0 0;
  }
  50% {
    /*transform: rotateX(360deg);*/
    /*transform: rotateY(120deg);*/
    background-color:red;
    margin: 10% 0 0 20%;
    border: dashed 10px white;
    padding: 0px;
  }
  75% {
    margin: 10% 10% 0 0;
  }
  to {
    transform: rotateY(360deg);
    padding: 10px;
  }
}

.pikachu-dancer {
  animation: 
    0.5s infinite hop;
    /*2s infinite pikaspin;*/
  position: absolute;
  animation-direction: alternate;
  animation-timing-function: linear; 
  /*box-sizing: border-box;*/
}
 
@keyframes hop {
  0% {
    /*transform: translate(0, 0);*/

    margin: 0 0; 
  }
  50% {
    /*transform: translate(-30px, 25px);*/
    margin: -30px 25px;
    
  }
  75% {
    /*transform: ;*/
  }
  100% {
    transform: rotateZ(360deg);
    /*transform: translate(0, 50px) rotate(1turn);*/
    margin: 0 50px;
  }

}

/*@keyframes pikaspin {
  100% {
    transform: rotateY(720deg);
  }
}*/

.line-up-class {
  animation: 1s infinite congo alternate ease-in !important;
  /*border: solid red 2px;*/
  background-image: ;
}

@keyframes congo{
  0% {
    translate
    margin: 0 0; 
  }
  50% {
    margin: -30px 25px;
    
  }
  75% {
    /*transform: rotate(1turn);*/S
  }
  100% {
    margin: 0 50px;
    transform: rotateY(.5turn);
  }
}

.orbit-dancer {
  position: absolute;

  /*animation: 2s infinite orbit linear;*/
}

@keyframes orbit{
  0% {
    transform: translate(0, 0);
  }
  25%{
    transform: scale(.75) translate(50px, 0);
  }
  50%{
    transform: scale(.5) translate(0px, 0);
  }
  75%{
    transform: scale(.75) translate(-50px, 0);
  }
}

